name: ci-prod-workflow
on:
  push:
    branches:
      - main
    types:
      - opened
      - synchronize
jobs:
  linting-job:
    runs-on: ubuntu-latest
    steps:
      - name: Liting Job
        run: echo "Starting Litning of HTML & CSS Files"
      - name: Clone Repo On the Runner
        uses: actions/checkout@v6
      - name: Install Dev Dependencies
        run: npm install
      - name: Lint HTML Files
        run: npx htmlhint "**/*.html"
      - name: Lint CSS Files
        run: npx stylelint "**/*.css"
  build-job:
    runs-on: ubuntu-latest
    needs: "linting-job"
    steps:
      - name: Build Job
        run: echo "Build start"
      - name: Clone Repo
        uses: actions/checkout@v6
      - name: Install Dependecies 
        run: npm install
      - name: Build Website With Parcel
        run: npx parcel build "./src/home.html" --dist-dir "./dist" --public-url "./" --no-cache
  image-build-job:
    needs: "build-job"
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repo To build Image
        uses: actions/checkout@v6
      - name: Login To Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Image
        run: docker image build -t ${{ secrets.DOCKERHUB_USERNAME }}/information-portal-prod:latest .
      - name: Push Docker Image on the docker Hub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/information-portal-prod:latest